@(field: play.api.data.Field)(implicit lang: Lang)

@import views.html.helper.input
@import views.html.widgets.inputText
@import models.common.Scope.Form._

@input(field) { (id, _, _, _) =>
    <fieldset>
        @inputText(field(NumValsId), args =
                Map('_label -> Messages(s"$id.$NumValsId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$NumValsMinLength,$NumValsMaxLength}"

                )
        )

        @inputText(field(NumFuncsId), args =
                Map('_label -> Messages(s"$id.$NumFuncsId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$NumFuncsMinLength,$NumFuncsMaxLength}"
                )
        )

        @inputText(field(NumObjectsId), args =
                Map('_label -> Messages(s"$id.$NumObjectsId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$NumObjectsMinLength,$NumObjectsMaxLength}"
                )
        )

        @inputText(field(HeightId), args =
                Map('_label -> Messages(s"$id.$HeightId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$HeightMinLength,$HeightMaxLength}"
                )
        )

        @inputText(field(MaxExpressionsInFuncId), args =
                Map('_label -> Messages(s"$id.$MaxExpressionsInFuncId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$MaxExpressionsInFuncMinLength,$MaxExpressionsInFuncMaxLength}"
                )
        )

        @inputText(field(MaxFuncsInObjectId), args =
                Map('_label -> Messages(s"$id.$MaxFuncsInObjectId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$MaxFuncsInObjectMinLength,$MaxFuncsInObjectMaxLength}"
                )
        )

        @inputText(field(MaxParamsInFuncId), args =
                Map('_label -> Messages(s"$id.$MaxParamsInFuncId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$MaxParamsInFuncMinLength,$MaxParamsInFuncMaxLength}"
                )
        )

        @inputText(field(MaxObjectsInTreeId), args =
                Map('_label -> Messages(s"$id.$MaxObjectsInTreeId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$MaxObjectsInTreeMinLength,$MaxObjectsInTreeMaxLength}"
                )
        )

        @inputText(field(MaxHeightId), args =
                Map('_label -> Messages(s"$id.$MaxHeightId"),
                    '_showConstraints -> false,
                    'autofocus -> false,
                    'pattern -> s".{$HeightMinLength,$HeightMaxLength}"
                )
        )
    </fieldset>
}