@(field: play.api.data.Field, args: Map[Symbol, Any] = Map.empty)(implicit lang: Lang)

@import views.html.helper.input
@import views.html.widgets.inputText
@import models.common.Scope.Form.{NumValsId, NumFuncsId, NumObjectsId, HeightId, MaxExpressionsInFuncId, MaxFuncsInObjectId, MaxParamsInFuncId, MaxObjectsInTreeId, MaxLength}

@input(field, args.toSeq:_*) { (id, name, value, htmlArgs) =>
    <fieldset>
            @inputText(field(NumValsId), args =
                    Map('_label -> Messages(s"$id.$NumValsId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(NumFuncsId), args =
                    Map('_label -> Messages(s"$id.$NumFuncsId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(NumObjectsId), args =
                    Map('_label -> Messages(s"$id.$NumObjectsId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(HeightId), args =
                    Map('_label -> Messages(s"$id.$HeightId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(MaxExpressionsInFuncId), args =
                    Map('_label -> Messages(s"$id.$MaxExpressionsInFuncId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(MaxFuncsInObjectId), args =
                    Map('_label -> Messages(s"$id.$MaxFuncsInObjectId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(MaxParamsInFuncId), args =
                    Map('_label -> Messages(s"$id.$MaxParamsInFuncId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))

            @inputText(field(MaxObjectsInTreeId), args =
                    Map('_label -> Messages(s"$id.$MaxObjectsInTreeId"),
                        '_showConstraints -> false,
                        'autofocus -> false,
                        'maxLength -> MaxLength))
    </fieldset>
}