@()(implicit lang: Lang)

<html>
    <head>
        <title>@Messages("intro-title")</title>
    </head>

    <body>
        <p>This is a Scala hobby project. It will consist of:</p>
        <ul>
            <li>one RESTful micro-service that will generate a table of legal moves in a programming language according to whatever rules you give it</li>
            <li>one micro-service that will call the first micro-service to get a list of legal moves and then use AI to pick the next move. I want to experiment with algorithms such as Ant Colony Optimisation (ACO).</li>
        </ul>

        <p>You are probably looking for the human usable UI, which can be found used to call the RESTful service manually:</p>
        <ul><li>/mind/legal-children</li></ul>

        <p>Please learn more about this project on the GitHub page: https://github.com/scottkwalker/Mind</p>
    </body>
</html>