@(currentForm: Form[models.common.LegalNeighboursRequest])(implicit lang: Lang)

@import models.common.LegalNeighboursRequest.Form.{CurrentNodeId, CurrentNodeMaxLength}
@import views.LegalNeighbours.SubmitId
@import views.html.errorsSummary
@import views.html.helper.form
@import views.html.widgets.inputText
@import views.html.widgets.scope
@import models.common.Scope.Form.scopeId

<html>
    <head>
        <title>Mind - Legal neighbours calculator</title>
    </head>

    <body>
        @errorsSummary(Some(currentForm))

        @form(action = controllers.routes.LegalNeighbours.calculate()) {

            @inputText(currentForm(CurrentNodeId), args =
                    Map('_label -> Messages(CurrentNodeId),
                        '_showConstraints -> false,
                        'autofocus -> true,
                        'maxLength -> CurrentNodeMaxLength))

            @scope(currentForm(scopeId))

            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("submit")</button>
        }
        <p>Please see the GitHub page for this project: https://github.com/scottkwalker/Mind</p>
    </body>
</html>