@(currentForm: Form[models.common.LegalNeighboursRequest])(implicit lang: Lang)

@import models.common.LegalNeighboursRequest.Form.CurrentNodeId
@import models.common.Scope.Form.ScopeId
@import views.LegalNeighbours.SubmitId
@import views.html.errorsSummary
@import views.html.helper.form
@import views.html.widgets.{currentNode, scope}

<html>
    <head>
        <title>@Messages("title")</title>
    </head>

    <body>
        @errorsSummary(Some(currentForm))

        @form(action = controllers.routes.LegalNeighbours.calculate(), args = ('novalidate, "novalidate")) {

            @currentNode(currentForm(CurrentNodeId))

            @scope(currentForm(ScopeId))

            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("submit")</button>
        }
        <p>@Messages("footer")</p>
    </body>
</html>