@(currentForm: Form[models.common.PopulateRequest])(implicit lang: Lang)

@import models.common.PopulateRequest.Form.MaxScopeId
@import views.Populate.SubmitId
@import views.html.errorsSummary
@import views.html.helper.form
@import views.html.widgets.scopeMax

<html>
    <head>
        <title>@Messages("populate-title")</title>
    </head>

    <body>
        <h1>@Messages("populate-title")</h1>

        @errorsSummary(Some(currentForm))

        <p>@Messages("populate-description")</p>

        @form(action = controllers.routes.Populate.calculate(), args = ('novalidate, "novalidate")) {

            @scopeMax(currentForm(MaxScopeId))

            <button id="@SubmitId" type="submit" name="action" class="button">@Messages("submit")</button>
        }
        <p>@Messages("footer")</p>
    </body>
</html>